.main_dashbaord {
  height: 100vh;
  padding-top: 15px;
}

.dash_top_panel {
  display: flex;
  align-items: center;

  height: 40px;
  background-color: #333;
  color: #fff;
}

.top_panel_menu {
  li {
    position: relative;
    display: inline-flex;

    a {
      display: block;
      padding: 9px 0;
      color: #fff;
    }

    &::after {
      content: '';
      position: absolute;
      top: 80%;
      width: 0;
      left: 0;
      height: 2px;
      background-color: #fff;
      transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.admin_sidebar {
  background-color: #2c2d34;
  height: 100vh;
  margin-top: -15px;
  padding-top: 30px;
}

.admin_sidebar_menu {
  display: flex;
  flex-direction: column;

  li {
    padding-left: 30px;
    a {
      display: block;
      color: #fff;
      padding: 15px 0;
    }

    &.active_menu,
    &:hover {
      background-color: #fff;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;

      a {
        color: #333;
      }
    }
  }
}
