.page_title {
  margin-top: -40px;
  padding-top: 80px;
  padding-bottom: 80px;

  background-image: url('@assets/img/blog-title-bg-opt.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 30px;
}

.blog_title {
  color: #fff;
  font-weight: 600;
  font-size: 68px;
  text-align: center;
}
