body {
  font-family: "Hind", sans-serif;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
}

img {
  height: auto;
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 30px;
  font-family: "HK Grotesk", sans-serif;
  font-weight: 600;
  color: rgba(16, 16, 16, 0.9);

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 13px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  font-weight: 400;
  white-space: nowrap;
  color: #fff;
  background-color: #805cb4;
  outline: none;
  border: 0;
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.8;
  }
}
